

.highlight-block .highlight-block-inner > img {
   filter: none;
  -webkit-filter: none;
  display: block;
  height: 70px;
  margin-bottom: 23px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.highlight-block:hover img {
  
   filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}


f69323
/**/