

.highlight-block .highlight-block-inner > img {
   filter: none;
  -webkit-filter: none;
  display: block;
  height: 70px;
  margin-bottom: 23px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.highlight-block:hover img {
  
   filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}


f69323
/**/

a {
  color: #f69323;
}

#backTop.custom {
  background-color: #f69323;
}
span.border-light-dotted {
  border-bottom: 1px dotted #f69323;
}

span.border-bold-dashed {
  border-bottom: 2px dashed #f69323;
}

.btn-dynamism:hover {
  background: #f69323;  
}

.btn-custom {
  border: 1px solid #f69323;
  background: #f69323;

}

.btn-custom:hover {
  color: #f69323;
}
.btn-custom-inverse {

  color: #f69323;
}

.btn-custom-inverse:hover {
  background: #f69323;
}

a.btn-load-more {

  color: #f69323;
 
  border: 2px solid #f69323;
}
a.btn-load-more:hover {
  background: #f69323;
}
.text-highlighter {
  color: #f69323;
}
#comment_btn:hover {
  border: 1px solid #f69323;
    color: #f69323;
}
.main-header .top-bar i {
  color: #f69323;
}
.main-header .top-donate-btn {
  background: #f69323;
}
.repair-header-top .repair-icon-box .text .head-heading {
  color: #f69323;
}
.main-header .top-donate-btn:hover {
  color: #f69323;
}
.repair-header-top .btn-quote .btn-request_quote {
  border: 2px solid #f69323;
  color: #f69323;
}
.navbar-default .navbar-nav > li > a.link-active {
  background: #f69323;
}
.navbar-default .navbar-nav > li > a:hover {
  background: #f69323;
}
header.one-page .navbar-nav > li > a span {
  color: #f69323;
}.navbar .social-icons a {
  color: #f69323;
}
.navbar .social-icons a:hover {
  border: 1px solid #f69323;
  background: #f69323;
}
.highlight-block .highlight-block-inner a {
  background: #f69323;
    }
    .highlight-block:hover i {
  color: #f69323;
}
.highlights-block2 .highlights-block2-inner a {
  color: #f69323;
}
#slider_1 .slider-content h2 span {
  background: #f69323;
}
#slider_1 .slider-content h2 span.color-text {
  color: #f69323;
}
#slider_1 .slider-content a.btn-slider {
  color: #f69323;
}
#slider_1 .slider-content a.btn-slider:hover {
  background: #f69323;
}
#slider_1 .slider-content a.btn-slider-2 {
  background: #f69323;
}
#slider_2 .slider-content a.btn-slider {
  background: #f69323;
  border: 2px solid #f69323;
}
#slider_2 .slider-content a.btn-slider:hover {
  border: 2px solid #f69323;
}
.section-counter .counter-block-1 h4 span {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .contact-details .social-icons a {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .contact-details .social-icons a:hover {
  border: 2px solid #f69323;
  background: #f69323;
}
.footer-widget-area-bg .footer-widget-area .color-primary a {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .footer-useful-links a:hover {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .footer-useful-links a i {
  color: #f69323;
}
.footer-section span a.color-primary {
  color: #f69323;
}
.footer-section .footer-nav ul li:after {
  background: #f69323;
}
.footer-section .footer-nav a:hover {
  color: #f69323;
}
.navbar-default .navbar-toggle span.icon-bar {
    color: #f69323;
  }
  .navbar-default .navbar-nav li a {
    color: #f69323;
  }
   .navbar-default .navbar-nav li a {
    color: #f69323;
  }
  a {
  color: #f69323;
}
#backTop.custom {
  background-color: #f69323;
}
span.border-light-dotted {
  border-bottom: 1px dotted #f69323;
}
span.border-bold-dashed {
  border-bottom: 2px dashed #f69323;
}
.btn-dynamism:hover {
  background: #f69323;
}
.btn-custom {
  border: 1px solid #f69323;
  background: #f69323;
}
.btn-custom:hover {
  color: #f69323;
}
.btn-custom-inverse {
  color: #f69323;
}
a.btn-load-more {
  color: #f69323;
  border: 2px solid #f69323;
}
a.btn-load-more:hover {
  background: #f69323;
}
.text-highlighter {
  color: #f69323;
}
#comment_btn:hover {
  border: 1px solid #f69323;
  color: #f69323;
}
.main-header .top-bar i {
  color: #f69323;
}
.main-header .top-donate-btn {
  background: #f69323;
}
.main-header .top-donate-btn:hover {
  color: #f69323;
}
.repair-header-top .repair-icon-box .text .head-heading {
  color: #f69323;
}
.repair-header-top .btn-quote .btn-request_quote {
  border: 2px solid #f69323;
  color: #f69323;
}
.navbar-default .navbar-nav > li > a.link-active {
  background: #f69323;
}
.navbar-default .navbar-nav > li > a:hover {
  background: #f69323;
}
header.one-page .navbar-nav > li > a span {
  color: #f69323;
}
.navbar .social-icons a {;
  color: #f69323;;
}
.navbar .social-icons a:hover {
  border: 1px solid #f69323;
  background: #f69323;
}
.highlight-block .highlight-block-inner a {
  background: #f69323;
}
.highlight-block:hover i {
  color: #f69323;
}
.highlights-block2 .highlights-block2-inner a {
  color: #f69323;
}
#slider_1 .slider-content h2 span {
  background: #f69323;
}
#slider_1 .slider-content h2 span.color-text {
  color: #f69323;
}
#slider_1 .slider-content a.btn-slider {
  color: #f69323;
}
#slider_1 .slider-content a.btn-slider:hover {
  background: #f69323;
}
#slider_1 .slider-content a.btn-slider-2 {
  background: #f69323;
}
#slider_1 .slider-content a.btn-slider-2:hover {
  color: #f69323;
}
#slider_2 .slider-content a.btn-slider {
  background: #f69323;
  border: 2px solid #f69323;

}
#slider_2 .slider-content a.btn-slider:hover {
  border: 2px solid #f69323;
}
.section-counter .counter-block-1 h4 span {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .contact-details .social-icons a {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .contact-details .social-icons a:hover {
  border: 2px solid #f69323;
  background: #f69323;
}
.footer-widget-area-bg .footer-widget-area .color-primary a {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .footer-useful-links a:hover {
  color: #f69323;
}
.footer-widget-area-bg .footer-widget-area .footer-useful-links a i {
  color: #f69323;
}
.footer-section span a.color-primary {
  color: #f69323;
}
.footer-section .footer-nav ul li:after {
  background: #f69323;
}
.footer-section .footer-nav a:hover {
  color: #f69323;
} 
.navbar-default .navbar-toggle span.icon-bar {
    color: #f69323;
  }
  .navbar-default .navbar-nav li a {
    color: #f69323;
  }
  